* {
    margin: 0 auto;
    font-size: 1.1555805vw;
}
@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background: black;
    position: absolute;
}
#container{
    width: 99.8vw; height: 2000px;
    position: fixed;
}
#poster{
    line-height: 1;
    font-family: 'D2Coding';
    color: white;
    font-size: .8rem;

}