* {
    margin: 0 auto;
}
@font-face {
    font-family: 'Galmuri7';
    src: url("Galmuri7-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background: black;
    position: absolute;
}
#container{
/*    width: 2160px; height: 3640px;*/
    position: fixed;
    left: calc(50vw - 28.148804vh);
    text-align: center;
}
.poster{
    font-family: 'Galmuri7';
    line-height: 1;
    color: white;
    opacity: 1;
    margin-bottom: 10vh;
}
.poster:nth-child(1){ font-size: calc(8 * .26041vh); }
.poster:nth-child(2){ font-size: calc(4 * .26041vh); }
.poster:nth-child(3){ font-size: calc(3 * .26041vh); }
.poster:nth-child(4){ font-size: calc(2 * .26041vh); }
.poster:nth-child(5){ font-size: calc(1 * .26041vh); }