* {
    margin: 0 auto;
}
@font-face {
    font-family: 'Galmuri7';
    src: url("Galmuri7-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background: black;
    position: absolute;
}
#container{
/*    width: 2160px; height: 3640px;*/
    position: fixed;
    left: calc(50vw - 28.148804vh);
}
.poster{
    font-family: 'Galmuri7';
    font-size: .26041vh;
    line-height: 1;
    color: white;
    opacity: 1;
    
/*    border: 1px solid red;*/
}